h2 {
    font-size: 30px;
    line-height: 40px;
}

p {
    font-size: 20px;
}

.header {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 25px;
    padding: 25px;
    text-align: center;
}

img {
    width: 100%;
    min-width: 300px;
    max-width: 500px;
    height: auto;
    object-fit: contain;
}