h2 {
    font-size: 40px;
}

.contentContainer {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 25px;
    height: fit-content;
    padding: 50px 25px;
    text-align: center; 
}

.img {
    width: 300px;
    object-fit: contain;
    margin: 10px 0px;
    height: 200px;
}

a {
    padding: 25px 25px 0 0;
}